<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/edit.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="icon" href="/img/logo.jpg">
    <title>Edit Page</title>
</head>

<body>
     <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="/logined">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/FPT_logo_2010.svg/1200px-FPT_logo_2010.svg.png"
                    alt="" width="30" height="24" class="d-inline-block align-text-top">
                FPT Book Store
                </a>
        </div>
    </nav>

    <div style="color:red">{{errorMsg}}</div>

<div class="container mt-4" >
    <form action="/admin/edit" method="post">
    <input type="hidden" name="txtId" value="{{books._id}}">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="txtNamebook" value="{{books.name}}"
                onblur="checkname();">
                <span id="erorr-name"></span>           
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="txtPrice"  value="{{books.price}}"
                onblur="checknumber();">
                <span id="error-num"></span>
        </div>
        <div class="mb-3">
            <label class="form-label" >Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="txtDes" value="{{books.description}}">
                <span id="erorr-name"></span>           
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Img</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="imgURL" placeholder="Enter URL">
        </div>

        <button type="submit" class="btn btn-primary" value="Update Prodcut">Submit</button>
        </div>
    </form>
>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
</body>

</html>